<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../views/utils/bootstrap-style.ejs') %>
    <title>Meet Up !</title>
</head>
<body>
  <%- include('../views/utils/navber-login.ejs') %>

  <div style="text-align: center; margin: 3% 0px 1%;">
    <h1>Promoters</h1>
    <br>
  </div>

  <div class="container-md col-md-4">
    <table style="width:100%"; class="table"> 
        <tr class="table-dark">
          <th>Name</th>
          <th>Contact</th>
        </tr>
        <% data.forEach((el) => { %>
        <tr>
          <td><%= el.name %></td>
          <td><%= el.phone %></td>
        </tr>
        <% }) %>
      </table>
  </div>
</body>
</html>