<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../utils/bootstrap-style.ejs') %>
  <title>Register</title>
</head>
<body>
  <div style="text-align:center; margin: 3%;">
    <h1>REGISTER FORM</h1>
  </div>

  <div class="container-md col-md-4">
    <form action="" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" placeholder="">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" placeholder="">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" placeholder="">
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
      </div>

      <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Submit">
        <a class="btn btn-danger" href="/" role="button">Cancel</a>
      </div>
    </form>
  </div>
</body>
</html>