<nav class="navbar navbar-light bg-light">
  <div class="container-fluid class="collapse navbar-collapse"">
    <span class="navbar-brand mb-0 h1"><strong>Meetup</strong>App</span>

    <% if (!currentUser) { %>
      <a class="btn btn-outline-dark" href="/login" role="button">LOGIN</a>
    <% } else { %>
      <a class="btn btn-outline-info" href="/events" role="button">EVENTS</a>
      <a class="btn btn-outline-dark" href="/logout" role="button">LOGOUT</a>
    <% } %>
    
  </div>
</nav>