<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><strong>Meetup</strong>App</span>

    <% if (!currentUser) { %>
      <a class="btn btn-outline-dark" href="/login" role="button">LOGIN</a>
    <% } else { %>
      <a class="btn btn-outline-dark" href="/logout" role="button">LOGOUT</a>
    <% } %>
    
  </div>
</nav>