<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><strong>Meetup</strong>App</span>
    <form class="d-flex">
      <a style="margin: 0px 5px;" class="btn btn-outline-success" href="/events" role="button">Events</a>
      <a style="margin: 0px 5px;" class="btn btn-outline-success" href="/promoters" role="button">Promoters</a>
      <a style="margin: 0px 5px;" class="btn btn-outline-success" href="/events/expired" role="button">Expired Events</a>
      <a class="btn btn-outline-dark" href="/logout" role="button">LOGOUT</a>
    </form>
  </div>
</nav>